In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\pubal\Downloads\heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.shape

(918, 12)

In [5]:
#looking closely into our dataframe 
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [7]:
#handling outliers 
df[df['Cholesterol']>(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [8]:
#so we have got rid of the outliers in our cholesterol column which could have produced inaccurate results for our model
df1 = df[df['Cholesterol']<=(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]
df1.shape

(915, 12)

In [11]:
#getting rid of outliers in restingbp column
df2 = df1[df1['RestingBP']<=(df1['RestingBP'].mean()+3*df1['RestingBP'].std())]
df2.shape

(908, 12)

In [12]:
#no outliers here
df[df['MaxHR']>(df['MaxHR'].mean() + 3 * df['MaxHR'].std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [14]:
#some more outliers to deal with in the oldpeak column!
df3 = df2[df2['Oldpeak']<=(df2['Oldpeak'].mean() + 3 * df2['Oldpeak'].std())]
df3.shape

(902, 12)

In [16]:
#so df3 is our final dataframe with no more outlier problems
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [17]:
#checking the number of unique types available in our chestpaintype column so that we can convert string columns into numeric format as our model works only on numeric values
df['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [18]:
df['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [19]:
df['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [20]:
df['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [21]:
df3['ST_Slope'].replace(
    {'Up':1,
    'Flat':2,
    'Down':3},inplace = True
)

df3['ExerciseAngina'].replace(
    {'N':1,
    'Y':2},inplace = True
)

df3['RestingECG'].replace(
    {'Normal':1,
    'ST':2,
    'LVH':3},inplace = True
)

C:\Users\pubal\AppData\Local\Temp\ipykernel_23604\2274836488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ST_Slope'].replace(
C:\Users\pubal\AppData\Local\Temp\ipykernel_23604\2274836488.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ExerciseAngina'].replace(
C:\Users\pubal\AppData\Local\Temp\ipykernel_23604\2274836488.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['RestingECG'].replace(

In [22]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,1,0.0,1,0
1,49,F,NAP,160,180,0,1,156,1,1.0,2,1
2,37,M,ATA,130,283,0,2,98,1,0.0,1,0
3,48,F,ASY,138,214,0,1,108,2,1.5,2,1
4,54,M,NAP,150,195,0,1,122,1,0.0,1,0

In [24]:
df4 = pd.get_dummies(df3,drop_first = True)
df4.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,1,0.0,1,0,True,True,False,False
1,49,160,180,0,1,156,1,1.0,2,1,False,False,True,False
2,37,130,283,0,2,98,1,0.0,1,0,True,True,False,False
3,48,138,214,0,1,108,2,1.5,2,1,False,False,False,False
4,54,150,195,0,1,122,1,0.0,1,0,True,False,True,False

In [25]:
df4.shape

(902, 14)

In [26]:
X = df4.drop(columns = 'HeartDisease',axis = 'columns')
y = df4['HeartDisease']

In [27]:
#we are now gonna use two methods to solve the above problem
#1)using scaling

In [28]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size = 0.3)

In [32]:
#using logistic regression on our scaled data
from sklearn.linear_model import LogisticRegression
model =  LogisticRegression(max_iter=100)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8376383763837638

In [35]:
#using random forest classifier with 100 trees on scaled data
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier(n_estimators=100).fit(X_train,y_train)
model1.score(X_test,y_test)

0.8523985239852399

In [48]:
#method 2: using PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
X_pca = pca.fit_transform(X)
X_pca.shape

(902, 10)

In [49]:
#in the above block of codes we are telling PCA to create and work with 5 columns only
from sklearn.model_selection import train_test_split
X_pca_train,X_pca_test,y_train,y_test = train_test_split(X_pca,y,test_size = 0.3)

In [50]:
#now lets see what scores our models yield
model = LogisticRegression(max_iter = 1000).fit(X_pca_train,y_train)
model.score(X_pca_test,y_test)

0.8560885608856088

In [52]:
model1 = RandomForestClassifier(n_estimators=100).fit(X_pca_train,y_train)
model1.score(X_pca_test,y_test)

0.8597785977859779

In [ ]:
so using PCA with 10 columns will give us a better sc