In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [2]:
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.DataFrame(iris.data,columns= iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
df['flower'] = iris.target
df['flower'] = df['flower'].apply(lambda x : iris.target_names[x])

In [5]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [8]:
params_name = {
    'svm':{'model' : svm.SVC(gamma = 'auto'),
          'params': {'C': [2,5,10],
                     'kernel':['rbf','linear']
              
          }},
     'logistic_regression':{'model' : LogisticRegression(solver='liblinear',multi_class='auto'),
          'params': {'C': [2,5,10]}},
    
      'decision_tree':{'model' : DecisionTreeClassifier(criterion='gini'),
          'params': {}}, 
    
         'random_forest':{'model' : RandomForestClassifier(),
          'params': {'n_estimators': [2,5,100]}},
}

In [9]:
scores = []
for model_name,mp in params_name.items():
    clt = GridSearchCV(mp['model'],mp['params'],cv = 5,return_train_score = False)
    clt.fit(iris.data,iris.target)
    scores.append({'best_model':model_name,
        'best_score':clt.best_score_,
        'best_params':clt.best_params_
    })

In [10]:
df = pd.DataFrame(scores,columns = ['best_model','best_score','best_params'])
df.head()

            best_model  best_score                best_params
0                  svm    0.980000  {'C': 2, 'kernel': 'rbf'}
1  logistic_regression    0.966667                   {'C': 5}
2        decision_tree    0.953333                         {}
3        random_forest    0.960000        {'n_estimators': 5}

In [ ]:
#Hence from the above dataframe we can conclude that the best moodel for training and prediction for the Iris dataset is Selection vector machines(SVM) model.
#As it is giving the highest score among all others.